target/
bin/
.DS_Store
.project
*.prefs
/BPMN 2.0 XML Compare/lib
test-result/.classpath
BPMN 2.0 XML Compare/.classpath
BPMN 2.0 XML Compare/.project
XPathTestRunner/.classpath
XPathTestRunner/.project
XPathTestRunner/.*
*.log
